%ul#months
  - @entries_by_month.each do |month, entries|
    %li
      = link_to month_entries_path(month.strftime("%Y"), month.strftime("%m")), :class => 'clearfix' do
        %h2= month.strftime("%B %Y")
        %h3= number_format entries.to_a.sum &:amount