.content
  %h1.section-title Months Archive
  %ul#months
    - @entries_by_month.each do |month, entries|
      %li
        = link_to month_entries_path(month.strftime("%Y"), month.strftime("%m")), :class => 'clearfix' do
          %h2= month.strftime("%B %Y")
          %h3= number_format entries.select{|entry| entry.entry_type == 1 }.to_a.sum &:amount
          %h3.expenses= number_format entries.select{|entry| entry.entry_type == 0 }.to_a.sum &:amount