%ul#months
  - @entries_by_month.each do |month, entries|
    %li.clearfix
      %h2= month.strftime("%B %Y")
      %h3= entries.sum &:amount

      / - entries.group_by { |entry| entry.root_category }.each do |c, e|
      /   %span= c.name