#home
  %h1 Dead simple personal finance tracking.
  %h1 That's all.

  .content
    = link_to 'Sign In', new_user_session_path, :class => 'big-button'
    = link_to 'Sign Up', new_registration_path(:user), :class => 'big-button blue'