// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

#categories {
  a:not(.big-button) {
    position: relative;
    display: block;
    padding: .8em 0;
    border-bottom: 1px solid $border;
    
    .icon-chevron-right {
      position: absolute;
      right: 0;
      color: #ccc;
    }

    &:active {
      background: $active;
    }
  }

  ul {
    a {
      margin-left: 1.6em;
      color: #999;
    }
  }
}

#new_category, form.edit_category {
  
}