// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

#categories {
  a {
    position: relative;
    display: block;
    padding: .8em 0;
    border-bottom: 1px solid #EEE;
    
    &:after {
      position: absolute;
      top: 14px;
      right: 0;
      display: block;
      width: 11px;
      height: 14px;
      background: image-url('arrow.png');
      background-size: cover;
      content: ' ';
    }
  }

  ul {
    a {
      margin-left: 1.6em;
      color: #999;
    }
  }
}