// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

#content {
  #new_entry, .edit_entry {
    &.new_entry {
      padding: 10px 15px;

      #entry_category_id {
        display: none;
      }
    }

    &.edit_entry {
      #select-category {
        display: none;
      }
    }

    .amount {
      float: left;
      // width: 80%;
    }

    .currency {
      float: left;
      width: 52px;
      margin-right: 4px;
    }

    .entry-type {
      float: left;
      width: 73px;
    }

    .category {
      clear: both;
    }

    #entry_from_amount {
      width: 64px;
      margin-right: 4px;
    }
    
    
  }

  .month-stats {
    padding-top: 20px;
    text-align: center;

    h2 {
      font-size: 2em;
    }

    #money-bar {
      margin-top: 20px;
      position: relative;
      height: 15px;

      .i, .e {
        position: absolute;
        top: 0;
        // width: 100%;
        height: 100%;

        &.i {
          background: #8ECC55;
        }

        &.e {
          background: #FF6F70;
          right: 0;
        }

        &.front {
          z-index: 1;
        }
      }
    }

    .expenses, .income {
      float: left;
      width: 50%;
      padding-top: 20px;

      &.expenses {
        color: #FF6F70;
      }

      &.income {
        color: #8ECC55;
      }

      .average, .total {
        padding-top: 10px;

        span {
          font-size: .75em;
          text-transform: uppercase;

          &.num {
            display: block;
            font-size: 2em;
          }
        }      
      }
    }
  }
  
  #piechart-wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    height: 350px;
  }

  #piechart {
    margin: -30px -51px;
    width: 400px;
    height: 400px;
  }

  // .categories {
  //   padding-top: 20px;
  // }

  #home-categories {
    display: none;
  }

  #months {
    // margin: 0 -20px;

    a {
      display: block;
      padding: 1em 20px;
    }

    li {
      border-bottom: 1px solid #eee;
    }

    h2 {
      float: left;
      margin-top: .9em;
    }

    h3 {
      float: right;
      // margin-top: -0.1em;
      font-size: 2em;
    }
  }
}

#months-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 20px;

  .inner {
    @include transition(transform 0.6s);
    @include translateX(0);
    position: relative;
    width: 200%;
  }

  &.categories {
    #month-toggle { 
      a.categories {
        opacity: 1;
      }
    }
  }

  &.dates {
    #month-toggle {
      a.dates {
        opacity: 1;
      }

      &:before {
        @include translateX(100%);
      }
    }

    .inner {
      @include translateX(-50%);
    }
  }

  #month-toggle {
    @include border-radius(10px);
    position: relative;
    margin: 10px 0;
    padding: 1px 0;
    height: 24px;
    background: #ddd;

    a {
      position: relative;
      display: block;
      float: left;
      padding: 4px 0;
      width: 50%;
      height: 16px;
      color: #999;
      text-align: center;
      opacity: .5;
    }

    &:before {
      @include transition(all 0.6s);
      @include border-radius(10px);
      @include translateX(0);
      position: absolute;
      top: 1px;
      right: 50%;
      left: 1px;
      display: block;
      height: 24px;
      background: #fefefe;
      content: " ";
    }
  }
}

.month-list {
  float: left;
  width: 50%;

  &.show-day {
    h3 {
      &.total {
        opacity: 0;
      }

      &.day {
        opacity: 1;
      }
    }
  }

  div, a {
    position: relative;
    display: block;
    padding: .8em 0;
    border-bottom: 1px solid #EEE;
  }

  ul {
    div, a {
      margin-left: 1.6em;
      color: #999;
    }

    .icon-chevron-right {
      position: absolute;
      right: 0;
      color: #ccc;
      top: 0;
    }
  }

  h2 {
    float: left;
  }

  h3 {
    position: absolute;
    right: 0;
    @include transition(opacity 0.3s);

    &.day {
      opacity: 0;

      span {
        font-size: .7em;
      }
    }
  }

  &#month-dates {
    h3 {
      right: 32px;
    }
  }
}

.edit_entry {
  padding-top: 20px;
}

#select-category {
  margin: 5px 0 5px 80px;
  padding: .7em 0.4em;
  display: block;
  color: #000;
  background: #eee;
}

#category-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 20px;
  min-height: 100%;
  background: #fff;
  z-index: 100;

  &.visible {
    display: block;
  }

  #category-list {
    li {
      padding: .8em 0;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
  }

  #category-name {
    margin-top: 0;
    margin-bottom: 0;
    background: #eee;
    color: #333;
    text-align: left;
  }
}