@import 'compass';
@import 'mixins';

body {
  color: #222;
  font-size: 16px;
  font-family: $ubuntu;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  overflow-x: hidden;
  background: #f3f3f3;
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

a {
  color: #222;
  text-decoration: none;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: " ";
}

#wrapper {
  margin: 44px auto 0;
  max-width: 600px;
}

#top-links {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: $blue;

  a, div {
    display: block;
    float: left;
    padding: 10px 0;
    width: 20%;
    background: $blue;
    color: #fff;
    text-align: center;
    font-size: 24px;
    opacity: .7;
  }

  a.active {
    opacity: 1;
  }
}

#content {
  // padding: 10px 20px;
  padding-top: 1px;
  position: relative;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

body.loading #content {
  opacity: .2;
}

.content {
  margin: 1em 0;
  padding: 10px;
  background: #fff;
  border: 1px solid $border;

  .page-title {
    font-size: 2em;
    text-align: center;
  }
}

.row {
  border-bottom: 1px solid $border;
}

.section-title {
  font-size: .8em;
  text-align: center;
  border-bottom: 1px solid $border;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

label {
  display: block;
  float: left;
  margin-top: 10px;
  width: 80px;
}

input, select {
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing:border-box;
  // box-sizing:border-box;
  margin: 3px 0;
  padding: .4em;
  outline: none;
  border: none;
  box-sizing: border-box;
  height: 32px;
  border-radius: 0;
  background: #fff;
  color: #666;
  font-size: 16px;
  font-family: $ubuntu;
  -webkit-appearance: none;

  -webkit-font-smoothing: antialiased;
}

input[type="submit"], .big-button {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  margin: 10px -10px 0;
  padding: .9em 10px;
  height: auto;
  width: 100%;
  background: $green;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;

  &.delete {
    background: $red;
  }
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="date"] {
  // -webkit-appearance: textfield;
}

p.notice, p.alert {
  padding: 10px;
  color: #fff;
}

p.notice {
  background: $green;
}

p.alert {
  background: $red;
}