@import 'fonts';
@import 'compass/css3';

$blue: #2CCAFF;
$red: #FF6F70;
$purple: #AB80FF;
$green: #8ECC55;
$yellow: #FFF585;
$orange: #FFB800;

$border: #ddd;
$active: rgba(0, 0, 0, 0);

$ubuntu: 'Ubuntu', sans-serif;

@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}