@import 'fonts';
@import 'compass/css3';

$blue: #2CCAFF;
$red: #FF6682;
$purple: #AB80FF;
$green: #83E88F;
$yellow: #FFF585;

$ubuntu: 'Ubuntu', sans-serif;

@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}