// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in.content, #sign-up.content {
  padding: 20px;
  text-align: center;

  label {
    display: none;
  }

  .remember-me {
    margin: 20px 0;

    label {
      display: inline-block;
      float: none;
      margin: 0;
      width: auto;
      color: #999;
    }

    input {
      display: inline-block;
    }
  }

  #user_email, #user_password, #user_password_confirmation, select {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    color: #666;
    text-align: center;
    font-size: 1.2em;
  }
}

.edit_user {
  #user_time_zone {
    width: 200px;
  }

  p {
    font-size: .75em;
  }
}

