%ul#categories
  - @categories.each do |category|
    %li
      = link_to category.name, category
      - unless category.children.empty?
        %ul
          - category.children.each do |sub_category|
            %li
              = link_to sub_category.name, sub_category

= link_to 'New Category', new_category_path, :class => 'big-button'
